---
layout: archive
title: "Introduction to R Programming"
permalink: /intro_r/
author_profile: true
---

<p style="font-weight: bold; color:#8B0000;">About This Course</p>

This page contains the content for the "Introduction to Data Analysis in R" mini-course. The goal is to introduce R programming concepts with a focus on preparing and analyzing data, and conducting statistical simulations. We will cover how to read data into R, manipulate data with a suite of tools from the tidyverse package dplyr. We will also discuss some basic programming concepts including data types and operators.

This mini-course is aimed at people with no programming background that are looking for a gentle and practical introduction to data analysis in R. 

Each Module involves:
<ul>
  <li>a pre-recorded lecture with guided practice exercises</li>
  <li>a corresponding lab to practice the skills taught in the video and stretch your thinking</li>
</ul>

The labs are an essential part of the learning process as they walkthrough the use of many key functions and topics that are not explicitly covered in the videos. 


<HR WIDTH="100%" COLOR="#8B0000" SIZE="4">


{% include base_path %}
{% for post in site.intro_r %}
  {% include archive-single.html %}
{% endfor %}


<HR WIDTH="100%" COLOR="#8B0000" SIZE="4">

<p style="font-weight: bold; color:#8B0000;">Additional Resources</p>
<ul>
  <li><a href="https://rstudio.com/resources/cheatsheets/">tidyverse cheetsheets</a> start with dplyr and ggplot</li>
  <li><a href="https://r4ds.had.co.nz">R for Data Science</a>: free online book with clear explanations of many tidyverse functions, the book to read on data analysis with R</li>
</ul>
  
{% include base_path %}
{% for post in site.labanswers %}
  {% include archive-single.html %}
{% endfor %}

 If you have any thoughts about the material, whether you hated it or found it useful, let me know! I would love to improve these tutorials and know if people found that they were helpful.
