* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
body {
  font-family: Arial, sans-serif;
}
ul {
  margin: 0.25rem;
}
li {
  display: inline-block;
  margin: 0.25rem;
  border: 1px solid #ccc;
  background: #f2f2f2;
  padding: 0.25rem;
}
#page {
  max-width: 960px;
}
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
line.link {
  stroke: #999;
  stroke-opacity: .6;
}